@charset "UTF-8";

#test {
	color:gray;
}
.hecho-true {
	color:gray;
	&:after {
		content:'[ Realizada ]';
		font-size:.8em;
	}
}
.hecho-false {
	color:#e74c3c;
	&:after {
		content:'[ Pendiente ]';
		font-size:.8em;
	}
}
.ng-hide {
	/* this is just another form of hiding an element */
	display: block!important;
	position: absolute;
	top: -9999px;
	left: -9999px;
}

